<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}" />
        <title>Movilidad Responsable</title>
        <link rel = "stylesheet" type= "text/css" th:href="@{/css/Login.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div class="main">
            <p class="sign" align="center">Movilidad Responsable</p>
            <img th:src="@{../../img/movres_icon.png}"/>
            <form class="form1" th:action="@{/movres/listado_client}" method="post"> <!--Esto es equivalente al PostMappping-->
                <div>    
                    <input class="un " align="center" id="usuario" type="text" name="email" placeholder="Email">
                </div>
                <div>
                    <input class="pass" align="center" id="contraseña" type="password" placeholder="Contraseña">
                </div>
                <input class="submit" align="center" id="enter" type="submit" value="Iniciar Sesión">
                <p class="newaccount" align="center"><a href="#">Registrarse</p>
            </form>        
                        
            </div>
            <footer>
                <div class="footer-content">
                    <h3>Movilidad Responsable</h3>
                    <p class="fop">Términos y condiciones | Política de privacidad | Política de cookies | Aviso Legal </p>
                </div>
            </footer>
    </body>
</html>